.block{
    margin: 250px;
    background-color: aliceblue;
   
}
.row{
    background-color: darkcyan;
    padding: 16px;
    display: flex;
    height: 500px;
}
.col{
    background-color: chocolate;
    padding: 5px;
    font-size: 20px;
    line-height: 200px;
    border: 1px solid black;
    text-align: center;
  
}
.col2{
    
}
.col1{
    
}
.col3{
   
}
