.block_orange{
    width: 94%;
    height: 327px;
    margin: 3%;
    background: orange;

}
.block_green{
    width: 20%;
    height: 590px;
    background: greenyellow;
    margin-left: 3%;
    float: left;
}
.block_blue{
    margin-left: 3%;
    width: 71%;
    height: 600px;
    background: blue;
    float: left;
}
@media (max-width: 700px){
    .block_green{
        width: 94%;
        margin-right: 3%;
    }
    .block_blue{
        margin-left: 3%;
        width: 71%;
    }
}